################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ValueTaskDemo/obj
/Parallel-ForEach-Demo/obj
/ValueTaskDemo/.vs/ValueTaskDemo/FileContentIndex
